body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A8F76;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Main Container */

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #203B37;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
    width: 1450px;
    max-width: 70%;
    height: 775px;
    max-height: 80%;
}

/* Start Quiz Container */

#startContainer {
    text-align: center;
}   

#startContainer h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

#startButton {
    align-self: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
}

#startButton:hover {
    background-color: darkcyan;
}

#startButton:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}


/* Start Quiz Container */

#quizContainer {
    padding: 64px;
    gap: 64px;
    border: 1px solid #96CDB0;
    width: 1450px;
    max-width: 70%;
    height: 775px;
    max-height: 80%;
}

#quizContainer h2 {
    font-size: 40px;
    text-align: center;
    color: white;
}

#questionContainer {
    flex-direction: column;
    gap: 120px;
    color: black;
    font-size: 30px;;
}

#optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 75px;
    font-size: 30px;
    color: black;
}

#nextButton {
    align-self: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 40px;

}

#nextButton:hover {
    background-color: darkcyan;
}

#nextButton:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

/* Score Container */

#scoreContainer {
}

#scoreContainer h3 {
    font-size: 40px;
    text-align: center;
    color: #96CDB0;
}

#restartButton {
    align-self: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
}

#restartButton:hover {
    background-color: darkcyan;
}

#restartButton:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}